@if (this.prescription()) {
@if(this.auth.getUser()?.role === 'P') {
<div id="prescription-modal" class="fixed inset-0 bg-gray-800 p-2 bg-opacity-75 flex items-center justify-center"
    [ngClass]="{'hidden': !this.isModalPrescriptionOpen}">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl max-w-5xl w-full p-5 relative">
        <h3 class="text-2xl font-bold mb-6">Prescription Details</h3>

        <div class="grid grid-cols-2 gap-4 mb-6">
            <div class="col-span-1">
                <div class="flex flex-col">
                    <p class="text-xl font-bold text-gray-900">Doctor</p>
                    <p class="text-md text-gray-800 mt-1 capitalize">{{prescription()?.doctor?.first_name +
                        ' ' +
                        prescription()?.doctor?.last_name}}</p>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-col">
                    <p class="text-xl font-bold text-gray-900">Date</p>
                    <p class="text-md text-gray-800 mt-1">{{ this.formatDate0(prescription()?.date!) }}</p>
                </div>
            </div>
        </div>

        <div class="mb-6">
            <p class="text-xl font-bold text-gray-900">Note</p>
            <p class="text-lg text-gray-700 mt-2">{{ prescription()?.notes }}</p>
        </div>
        <div class="mb-6">
            <input type="text" [(ngModel)]="this.query" class="w-full rounded border p-2 text-lg" placeholder="Search">
        </div>
        <!-- Medicine Details Table -->
        <div class="overflow-x-auto">
            <table class="table-auto w-full bg-gray-100 rounded-lg">
                <thead>
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="py-2 px-4">Medicine</th>
                        <th class="py-2 px-4">Dosage</th>
                        <th class="py-2 px-4 text-center">Morning</th>
                        <th class="py-2 px-4 text-center">Afternoon</th>
                        <th class="py-2 px-4 text-center">Evening</th>
                        <th class="py-2 px-4 text-center">Night</th>
                        <th class="py-2 px-4 text-center">Empty Stomach</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medicine of filteredPres?.medicines">
                        <td class="py-2 px-4">{{ medicine.medicine_name }}</td>
                        <td class="py-2 px-4">{{ medicine.dosage }}</td>
                        <td class="py-2 px-4 text-center">{{ this.checkIfIn('Morning',
                            medicine.frequency) ? '✔' : '✖' }}</td>
                        <td class="py-2 px-4 text-center">{{ checkIfIn('Afternoon',
                            medicine.frequency) ? '✔' : '✖' }}</td>
                        <td class="py-2 px-4 text-center">
                            {{ checkIfIn('Evening',
                            medicine.frequency) ? '✔' : '✖' }}
                        </td>
                        <td class="py-2 px-4 text-center">{{ checkIfIn('Night',
                            medicine.frequency) ? '✔' : '✖' }}</td>
                        <td class="py-2 px-4 text-center">{{ medicine.empty_stomach ? 'Yes' : 'No' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button (click)="closePrescriptionModal()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </div>
</div>
} @else if (this.auth.getUser()?.role === 'D') {
<div id="prescription-modal" class="fixed inset-0 bg-gray-800 p-2 bg-opacity-75 flex items-center justify-center"
    [ngClass]="{'hidden': !this.isModalPrescriptionOpen}">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl max-w-5xl w-full p-5 relative">
        <h3 class="text-2xl font-bold mb-6">Prescription Details</h3>

        <div class="grid grid-cols-2 gap-4 mb-6">
            <div class="col-span-1">
                <div class="flex flex-col">
                    <p class="text-xl font-bold text-gray-900">Patient</p>
                    <p class="text-md text-gray-800 mt-1 capitalize">{{prescription()?.user?.first_name +
                        ' ' +
                        prescription()?.user?.last_name}}</p>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex flex-col">
                    <p class="text-xl font-bold text-gray-900">Date</p>
                    <p class="text-md text-gray-800 mt-1">{{ this.formatDate0(prescription()?.date!) }}</p>
                </div>
            </div>
        </div>

        <div class="mb-6">
            <p class="text-xl font-bold text-gray-900">Note</p>
            <p class="text-lg text-gray-700 mt-2">{{ prescription()?.notes }}</p>
        </div>
        <div class="mb-6">
            <input type="text" [(ngModel)]="this.query" class="w-full rounded border p-2 text-lg" placeholder="Search">
        </div>
        <!-- Medicine Details Table -->
        <div class="overflow-x-auto">
            <table class="table-auto w-full bg-gray-100 rounded-lg">
                <thead>
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="py-2 px-4">Medicine</th>
                        <th class="py-2 px-4">Dosage</th>
                        <th class="py-2 px-4 text-center">Morning</th>
                        <th class="py-2 px-4 text-center">Afternoon</th>
                        <th class="py-2 px-4 text-center">Evening</th>
                        <th class="py-2 px-4 text-center">Night</th>
                        <th class="py-2 px-4 text-center">Empty Stomach</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medicine of filteredPres?.medicines">
                        <td class="py-2 px-4">{{ medicine.medicine_name }}</td>
                        <td class="py-2 px-4">{{ medicine.dosage }}</td>
                        <td class="py-2 px-4 text-center">{{ this.checkIfIn('Morning',
                            medicine.frequency) ? '✔' : '✖' }}</td>
                        <td class="py-2 px-4 text-center">{{ checkIfIn('Afternoon',
                            medicine.frequency) ? '✔' : '✖' }}</td>
                        <td class="py-2 px-4 text-center">
                            {{ checkIfIn('Evening',
                            medicine.frequency) ? '✔' : '✖' }}
                        </td>
                        <td class="py-2 px-4 text-center">{{ checkIfIn('Night',
                            medicine.frequency) ? '✔' : '✖' }}</td>
                        <td class="py-2 px-4 text-center">{{ medicine.empty_stomach ? 'Yes' : 'No' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button (click)="closePrescriptionModal()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </div>
</div>
}
}